!!!5
html
  head
    meta(charset='utf-8')
    title iCapt Home

  body
    h1 iCapt Home
    form(action='/add')
      input(name='url', autocomplete='off')
      br
      button(type='submit') Submit